h3 {
    color: rgb(176, 42, 189);
    text-align: center;
}

.minha_classe {
    color: chartreuse;
}

.minha_classe-1 {
    color: rgb(236, 252, 21);
}

div {
    margin-bottom: 10px;
}

input, label {
    display: block;
}

.radio label,
.radio input {
    display: inline-block;
}

.check label,
.check input {
    display: inline-block;
}

/*  .  nome usado para CLASSE*/
/*  #  nome usado para ID*/

#tre input {
    border-color: blueviolet;
    border-width: 20px;
}

#tre label {
    font-size: 30px;
}


h3 {
    color: red;
    text-align: center;
}

@media screen and (max-width: 200px) {
    h3 {color: blue;}
    font-size: 20px;    
}

@media screen and {min-width: 400px;
    h3 {color: darkgreen;}   

}

@media screen and (orientation: landscape){
    h3 {
        color: blue;
        display: block;}
    
    h2 {
        display: none;}
}

